* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
    scrollbar-width: thin;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    /* background: #000; */
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: solid gray;
}

body {
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    display: flex;
    background: #22242A;
    padding: 20px;
    width: 100%;
    top: 0;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.left_area {
    display: flex;
}

.right_area {
    display: flex;
}

.right_area .profile-menu .drop-down-btn {
    position: relative;
    cursor: pointer;
    padding: 7px 10px 2px 10px;
    border-radius: 50%;
    background: rgb(59, 59, 59);
    border: solid rgb(59, 59, 59);
}

.right_area .profile-menu .drop-down-btn:active {
    border: solid thin #000;
}

.right_area .profile-menu .drop-down-btn .drop-down {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.right_area .profile-menu .drop-down-links {
    position: fixed;
    z-index: 1;
    background: rgb(59, 59, 59);
    top: 60px;
    right: 20px;
    width: 100px;
    border-radius: 3px;
    display: none;
}

.right_area .profile-menu .drop-down-links ul li:hover {
    background: rgb(75, 73, 73);
}

.right_area .profile-menu .drop-down-links ul li a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 12px;
    font-weight: 550;
    padding: 5px;
    padding-left: 10px;
}

.left_area h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    line-height: 30px;
}


.left_area span {
    color: #19B3D3;
}

.sidebar-btn {
    display: block;
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
    color: #0fb8da;
}

.sidebar {
    z-index: 1;
    position: fixed;
    display: block;
    background: #2f323a;
    top: 0;
    margin-top: 60px;
    position: fixed;
    transition: left .5s;
    left: 0;
    width: 250px;
    height: calc(100% - 60px);
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar ::-webkit-scrollbar {
    display: none;
}

.sidebar .menu {
    padding-bottom: 60px;
}

.developer {
    color: white;
    position: fixed;
    z-index: 1;
    width: 250px;
    height: 60px;
    left: 0;
    bottom: 0;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 10px 20px;
    overflow: hidden;
    background: #2f323a;
    border-top: solid 1px rgb(75, 74, 74);
    transition: all .5s;
}

.sidebar .menu .item .menu-btn {
    color: #fff;
    display: block;
    line-height: 50px;
    padding-left: 40px;
    text-decoration: none;
    box-sizing: border-box;
    transition: background-color .5s;
}

.sidebar .menu .item ul li a {
    text-decoration: none;
}

.sidebar .menu .item .menu-btn .drop-down {
    float: right;
    font-size: 14px;
    margin: 20px;
    margin-bottom: 0px;
    position: relative;
}

.sidebar .menu .item .menu-btn:hover {
    background: #19B3D3;
}

.rotate {
    transform: rotateX(180deg);
}

.sidebar .menu .item .sub-menu {
    background: #3facc2;
    overflow: hidden;
    display: none;
}

.sidebar .menu .item .sub-menu ul li a {
    color: #fff;
    position: relative;
    display: block;
    font-size: 15px;
    line-height: 30px;
    padding-left: 70px;
    box-sizing: border-box;
    transition: background-color .5s;
    border-top: solid thin rgb(200, 197, 197);
}

.sidebar .menu .item .sub-menu ul li a:hover {
    background: #344cb8;
}

.sidebar i {
    padding-right: 10px;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #19B3D3;
}

.collapse {
    left: -250px;
}

.collapse~.developer {
    left: -250px;
}

.collapse~.content-wrapper {
    margin-left: 30px;
}

.collapse~.sidebar .developer {
    left: -250px !important;
}

.content-wrapper {
    z-index: 1;
    position: fixed;
    display: block;
    top: 0;
    margin-top: 60px;
    transition: all .5s;
    left: 0;
    bottom: 0;
    margin-left: 250px;
    padding: 5px;
    width: (100% - 250px);
    height: (100% - 60px) !important;
    overflow: auto;
}